chapter_3/img_align_celeba/*
chapter_4/dataset/*
chapter_4/dataset_dp/*
chapter_4/__pycache__/*
*.pyc
*.zip
chapter_4/DCGAN/checkpoint/*
*.png
*.jpg

chapter_4/DCGAN/logs/*
chapter_4/DCGAN/models/*
chapter_4/WGAN/logs/*
chapter_4/WGAN/*/*

*.pth
datas/*
chapiter_8/unet.onnx
chapiter_8/checkpoint/*
chapiter_8/logs/*
